<h2>プロフィール編集</h2>
  <% if @user.errors.any? %>
  <strong>
    <%= @user.errors.count %>件のエラーが発生しました
  </strong>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<%= form_with model: @user do |f| %>
  <p><label for="inputName">ユーザー名</label></p>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>

  <p><label for="inputEmail">メールアドレス</label></p>
    <%= f.text_area :email, autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%>

  <p><label for="inputImage">ProfileImage</label></p>
    <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>

  <p><%= f.submit "変更を保存" %></p>

<% end %>

<%= link_to "退会はこちらへ", user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？" %>