<p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-4">
        <%= render 'list', post: @post, user: @user %>
      </div>

      <div class="col-md-7 offset-md-1">
        <h1><%= @user.name %> さんの投稿</h1>
        <% if user_signed_in? %>
          <div class="search_form">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.select :range, options_for_select([['User'], ['Post']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
              <%= f.submit "検索", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th colspn="1"></th>
              <th>タイトル</th>
              <th>本文</th>
            </tr>
          </thead>

          <tbody>
            <% current_user.posts.each do |post| %>
              <tr>
                <td>
                  <%= link_to user_path(post.user.id) do %>
                    <%= image_tag post.user.get_profile_image_thumbnail(50,50), class: 'rounded-circle mr-3' %>
                  <% end %>
                </td>
                <td> <%= link_to post.title, post_path(post.id) %></td>
                <td><%= post.body.truncate(10) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
   </div>
 </div>
